<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN"
 "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
    <key>Label</key>
    <string>com.takaobsid.syncorgs</string>

    <key>ProgramArguments</key>
    <array>
        <string>/Users/takaobsid/.config/sync_orgs.sh</string>
    </array>

    <key>RunAtLoad</key>
    <true/>

    <key>KeepAlive</key>
    <true/>

    <key>StandardOutPath</key>
    <string>/tmp/syncorgs.out</string>

    <key>StandardErrorPath</key>
    <string>/tmp/syncorgs.err</string>
 </dict>
</plist>